/* BODY */
body{
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
.navbar{
  color: #191a18;
}

.navbar a:hover{
  color: #191a18;
  font-weight: 700;
}

.navbar .class-nav:visited{
  color: #fff;
  text-decoration: none;
}

nav .dropdown-menu{
  background-color: #fec926;
}

nav .dropdown-menu a:hover{
  background-color: #191a18;
  color: #fec926;
}

/* HERO SECTION */
.hero-section{
  background-image: url("../img/banner-color-amarillo-gris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.hero-portfolio{
  background-image: url("../img/banner-portafolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.hero-1{
  background-image: url("../img/photo-proyecto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

/* NAVLINK */
nav{
  border-bottom: #fec926 solid 10px;
}

nav .class-nav{
  color: #fff;
  text-decoration: none;
}

nav .class-nav:hover{
  background-color: #fec926;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

nav .class-nav:visited{
  color: #fff;
  text-decoration: none;
}

/* SOBRE MI */
#about-me{
  color: #191a18;
}

#about-me .row{
  background-color: #fffbf1;
  border: dashed 2px #fec926;
  border-radius: 50px;
}

/* MIS PROYECTOS */
.mis-proyectos .image-top{
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mis-proyectos h5{
  color: #fec926;
}

.mis-proyectos .image-top:hover{
  opacity: 0.7;
}

.mis-proyectos .card{
  border-radius: 35px;
}

.mis-proyectos .image-top{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom: #fec926 10px solid;
}

.mis-proyectos p{
  font-size: 0.85rem;
}

/* FORM CONTACTO */
.contacto{
  color: #fff;
}

/* COLOR ESPECIAL */
.yellow{
  color: #fec926;
}

.grey{
  color: #191a18;
}

.white{
  color: #fff;
}

.backgr{
  background-color: #191a18;
}

.backgry{
  background-color: #fec926;
}

.backgryl{
  background-color: #fffbf1;
}

/* PADDING SECTION */
.padd-section{
  padding-top:  18vh;
}

/* ACCORDION */
.accordion-item{
  background-color: #fec926;
  color: #fff;
}

.accordion-body p{
  color: #191a18;
}

.efect-hover:hover{
  background-color: #191a18;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.acc-title{
  padding: 3vh;
  background-color: #191a18;
  font-size: 1rem;
}

/* EDUCACIÓN */
.educacion li{
  font-size: 0.85rem;
}

.educacion{
  color: #191a18;
}

.educacion .row{
  background-color: #fffbf1;
  border: dashed 2px #fec926;
  border-radius: 50px;
}

/* MI PORTAFOLIO */
.mi-portafolio a{
  text-decoration: none;
  color: #191a18;
}

.mi-portafolio .btn{
  text-decoration: none;
  color: #fec926;
}

.mi-portafolio .btn:hover{
  text-decoration: none;
  color: #fff;
}

/* FOOTER */
footer a{
  text-decoration: none;
  color: #191a18;
}

footer a:visited{
  text-decoration: none;
}

footer a:hover{
  text-decoration: none;
  color: #191a18;
  opacity: 0.8;
  font-weight: 900;
}

@media (max-width: 768px) {
  .contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}
