/* BODY */
body {
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */
.navbar{
  color: #191a18;;
}

.navbar a:hover{
  color: #191a18;
  font-weight: 700;
}

.navbar .class-nav:visited{
  color: #fff;
  text-decoration: none;
}

/* HERO SECTION */
.hero-section{
  background-image: url("../img/banner-color-amarillo-gris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* NAVLINK */
nav{
  border-bottom: #fec926 solid 10px;
}

nav .class-nav{
  color: #fff;
  text-decoration: none;
}

nav .class-nav:hover{
  background-color: #fec926;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

nav .class-nav:visited{
  color: #fff;
  text-decoration: none;
}

/* SOBRE MI */
#about-me{
  color: #191a18;
}

#about-me .row{
  background-color: #fffbf1;
  border: dashed 2px #fec926;
  border-radius: 50px;
}

/* MIS TRABAJOS */
.mis-trabajos .image-top{
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mis-trabajos h5{
  color: #fec926;
}

.mis-trabajos .image-top:hover{
  opacity: 0.7;
}

.mis-trabajos .card{
  border-radius: 35px;
}

.mis-trabajos .image-top{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom: #fec926 10px solid;
}

.mis-trabajos p{
  font-size: 0.85rem;
}

/* FORM CONTACTO */
.contacto{
  color: #fff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}

/* COLOR ESPECIAL */
.yellow{
  color: #fec926;
}

.grey{
  color: #191a18;
}

.white{
  color: #fff;
}

.backgr{
  background-color: #191a18;
}

.backgry{
  background-color: #fec926;
}

/* PADDING SECTION */
.padd-section{
  padding-top:  15vh;
}