body {
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */

.navbar a:hover{
  color: #fff;
  font-weight: 700;
}

/* HERO SECTION */

#Hero-Section {
  background-image: url("../img/banner-color-amarillo-gris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* NAV */

nav .class-nav{
  color: #fff;
  text-decoration: none;
}

nav .class-nav:hover{
  background-color: #fec926;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

nav .class-nav:visited{
  color: #fff;
  text-decoration: none;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

/* COLOR ESPECIAL */
.yellow{
  color: #fec926;
}

.grey{
  color: #191a18;
}

.backgr{
  background-color: #49473d;
}

.backgry{
  background-color: #fec926;
}
